body::-webkit-scrollbar{
  display: none;
}
.flex{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.item{
  width: 100%;
  height: auto;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.item img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.7s ease;
}
.item img:hover{
  transform: scale(1.1);
}